.bottom {
  background-image: url('../assets/solrod-drawingboard-background.jpg');
  background-size: cover;
  margin: 0;
  padding: 18% 0;
}

.bottom a {
  width: 95%;
  font-size: 16px;
  background-color: #6a819e;
  border-color: #6a819e;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background-color: #fff;
  width: 100%;
}

.footer i {
  font-size: 35px;
  color: #bcbcbc;
  padding: 15px;
  margin: 20px 10px;
}
