.small-but-mighty {
  background-image: url('../assets/solrod-team-background.jpg');
  background-size: cover;
}

.small-but-mighty img {
  width: 40%;
  margin: 0 auto;
  padding: 10% 0;
}

.grants {
  color: #d3d9d4;
  margin-top: 25px;
}

.grants h1 {
  font-family: 'Palatino';
}

.grants p {
  margin: 25px auto 35px auto;
  font-size: 12px;
}
