.col-img-profiles {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  }

.col-img-profiles a {
  color: #8de49b;
  display: inline-block;
  padding-bottom: 10px;
}

.col-img-profiles p {
  margin: 8px auto 0 auto;
}

.thumbnail {
  padding: 0;
  border: none;
  font-weight: 500;
}
