.thumbnail {
  position: relative;
}

.text {
  padding: 18px 0;
}

.text h6 {
  color: #b5b5b5;
}

.text p {
  font-size: 12px;
  color: #d3d9d4;
}

.arrow {
  position: absolute;
  right: 3%;
  bottom: 8%;
}

.arrow i {
  color: #b5b5b5;
  font-size: 20px;
}
